<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fuzzy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>hvac_example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>830518F217C8038D004DC675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832930A517C804E9005B34A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832930B317C80563005B34A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832EEB5A17C296BF0022C8FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
